# Override colors for a darker theme (better for photography)
body {
    background-color: #202020;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
   color: #555555;
}

.post-full figure.full
{
    width:100%;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: 0px;
    margin-right: 0px;    
}

figure.full img {
  width: 100%;
  max-width: 100%;
  height: auto;  
}

figure.medium
{
    width:400px;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: auto;
    margin-right: auto;    
}

figure.large
{
    width:500px;
    margin-top:30px;
    margin-bottom:30px;            
    margin-left: auto;
    margin-right: auto;    
}

figure.large img {
    width:500px; 
    height: auto;
}

figcaption
{
    font-family: "Quattrocento Sans", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background-color: #EFEFEF;    
    font-size: 90%;        
    margin-left: 1%;
    padding-left: 4%;
    padding-right: 4%;
    text-align: justify;
    display: block;
}

.purchase-section {
    text-align: right;
}

.purchase 
{
   background-color: #1d93e2;
   border: none;
   color: #fafafa;
   margin-top: 15px;
   margin-bottom: 15px;
   margin-right: 15px;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 1.25em;
}

.purchase:hover {
  background: #1c5685;
}
